body, table {
  font-size: small;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  color: #000;
  background: #fff;
}
a:link, a:visited, a:hover, a:active {
  color: #000;
}

/* Dialog boxes */
.dialogTopLeftInner, .dialogMiddleLeftInner, .dialogBottomLeftInner,
.dialogTopRightInner, .dialogMiddleRightInner, .dialogBottomRightInner {
  display: none;
}
.gwt-DialogBox {
  background-color: white;
  border: 1px solid #3c4ab9;
  z-index: 2;
}
.gwt-DialogBox .Caption {
  
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  
  font-weight: bold;
  text-shadow: #fff 0 2px 2px;
  cursor: default;
  padding: 5px 10px;
  border-bottom: 1px solid #999;
  text-align: left;
}
.gwt-DialogBox .dialogContent {
}
.gwt-DialogBox .gwt-Button {
  margin: 10px;
}
.gwt-PopupPanelGlass {
  background-color: #000;
  opacity: 0.3;
  filter: literal("alpha(opacity=30)");
  z-index: 2;
}

/* GWT Tree */
.gwt-Tree {
}
.gwt-Tree .gwt-TreeItem {
  padding: 0;
  cursor: hand;
  cursor: pointer;
  display: block !important;
}
.gwt-Tree .gwt-TreeItem-selected {
  background: #ccc;
}

/* Splitters */
.gwt-SplitLayoutPanel-HDragger, .gwt-SplitLayoutPanel-VDragger {
  background-color: white;
}

.gwt-SplitLayoutPanel-HDragger {
  cursor: col-resize;
}

.gwt-SplitLayoutPanel-VDragger {
  cursor: row-resize;
}
